<section class="login-section">
        
        <form fxFlex fxLayout="column" fxLayoutGap="12px" fxLayoutAlign="center center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                 <input type="text" matInput placeholder="Your email.."  formControlName="email" required>
               
               </mat-form-field>
                <mat-form-field>
                 <input type="password" matInput placeholder="Your password.."  formControlName="password" required>
                 
               </mat-form-field>
            
                <button mat-raised-button color="accent" type="submit" [disabled]="!loginForm.valid">Login</button>
            
        </form>
    </section>